div {
  width: 30%;
  height: 300px;
  background-color: rgb(134, 211, 235);
  color: rgb(206, 7, 7);
  margin: 20px;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}
.start {
  background-color: green;
  padding: 20px;
  color: white;
  border-radius: 10px;
}

.stop {
  background-color: red;
  padding: 20px;
  color: white;
  border-radius: 10px;
}